.header{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px 20px;
  align-items: center;
  background-color: rgb(29,66,138);
 }
 .logo{
  width: 5%;
 }

 .bar{
   display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
 }
 .bar .login{
   width: 10%;
   display: flex;
   justify-content: space-between;
   margin: 0 5px;
 }
 .login img{
  margin: 0 5px;
 }

 .menu{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
  
 }
 
 .menu li{
   margin-left: 10px;
   padding: 10px;
   max-width: 900px;
 }
 .busca input{
   margin-left: 10px;
   border-radius: 15px;
   width: 30vh;
   height: 35px;
   min-width: 150px;
   text-align: center;
 }