<%- include ../../partials/header.ejs%>
   
        <section class="procuct">
            <img src="img/products/produto-2.jpg" alt="">
            <div class="product-description">
                <p>
                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem
                    sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os
                    embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos,
                    como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se.
                </p>
            </div>
            <div class="product-actions">
                <h4>super desconto</h4>
                <p id="before">R$ 339,99 <strong>12%</strong></p>
                <p id="after">R$ 299,99</p>
                <p>Em 1x no cartão</p>
                <h4>Calcular frete</h4>
                <form action="">
                    <input type="text" name="cep" id="cep">
                    <input id="ok" type="submit" value="ok">
                </form>
                <form action="">
                    <input id="buy" type="submit" value="comprar">
                </form>
            </div>
        </section>

        <section class="show-down">
            <div class="sd-cards">
                <%- include ../../partials/cards/cards-recomendados%> 
            </div>
        </section>
        </main>
        <%- include ../../partials/footer.ejs%>