#menu {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#menu-bars {
  color: var(--color-tertiary);
  margin: auto 15px;
  display: none;
}

#menu-bars i {
  font-size: 26px;
}

#menu li {
  padding: 10px;
  position: relative;
  text-decoration: none;
}

#menu li ul {
  position: absolute;
  display: none;
  z-index: 1;
  margin-top: 10px;
  background-color: var( --color-primary);
}

#menu li a {
  color: var(--color-tertiary);
  text-decoration: none;
  transition: all .50s ease;
}

#menu li #menu-item:hover {
  transform: scale(1.1);
  border-bottom: 2.5px solid var(--color-secondary);
  border-radius: 5px;
}

#menu li:hover ul {
  display: block;
}

#menu li ul li:hover {
  background-color: var(--color-secondary);
}


.search-form {
  width: 400px;
  margin: auto 0 auto 30px;
}

.search-form input[type='search'] {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  color: #000;
  border: 1px solid var(--color-secondary);
}

.search-form input::placeholder {
  padding-left: 10px;
  color: #000;
  font-family: 'Roboto bold';

}

.search-form button {
  background: none;
  border: none;

}

.search-form button img {
  width: 20px;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: -10px;
}

/* .search-form button i:hover, .user-actions ul i:hover {
  color: var(--color-secondary);
  cursor: pointer;
} */

/* .user-actions {
  margin: auto 20px;
  float: right;
}

.user-actions ul {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}

.user-actions ul li {
  margin: 5px;
}

.user-actions ul i {
  color: var(--color-tertiary);
}

#menu-bars-list {
  display: none;
} */


/* @media screen and (max-width: 1239px) {
  .search-form {
      display: none;
  }

  .user-actions {
      display: none;
  }

  #menu-bars {
      display: block;
  }

  #menu-bars button {
      border: none;
      background: transparent;
      color: var(--color-tertiary);
  }

  #menu-bars button:active {
      color: var(--color-secondary);
  }


  #menu-bars-list {
      display: none;
      width: 100%;
      height: 250px;
      position: absolute;
      z-index: 1;
      background-color: var( --color-primary);
  }

  #bar-form {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .bar-user-actions ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }

  .bar-user-actions ul li {
      margin: 10px 10px;
  }

  .bar-user-actions ul li i:hover {
      color: var(--color-secondary);
  }

  .bar-user-actions ul li i {
      color: var(--color-tertiary);
      font-size: 26px;
  }

  #bar-form form {
      width: 100%;
  }

  #bar-form form input[type='search'] {
      width: 90%;
      height: 100%;
      margin: 15px 15px;
  }

  #bar-form button {
      border: none;
      background: transparent;
  }

  #bar-form button i {
      color: var(--color-tertiary);
      font-size: 26px;
  }

  #bar-form button i:hover {
      color: var(--color-secondary);
  }
} */
