<%- include partials/header.ejs%>
    <%- include partials/slider.ejs%>
        <section class="main">
            <div class="cards">
                <div class="card">
                    <a href=""> <img src="img/products/produto-1.png" alt=""></a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a href="/product"> <img src="img/products/produto-2.jpg" alt=""></a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-3.png" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-1.png" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-2.jpg" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-3.png" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-1.png" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-2.jpg" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-3.png" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h2>
                        <p>Fique avonatde para usar</p>
                    </div>
                </div>
                <div class="card">
                    <a herf=""> <img src="img/products/produto-1.png" alt=""> </a>
                    <div class="card-content">
                        <h2>Preço</h1>
                            <p>Fique avonatde para usar</p>
                    </div>
                </div>

            </div>
        </section>
        </main>
        <!-- end main content -->
        <%- include partials/footer.ejs%>