<%- include partials/header.ejs%>
    <%- include partials/slider.ejs%>
        <section class="main">
            <div class="cards">
                <%- include partials/cards/cards-categorias%>
            </div>
        </section>
        </main>
        <!-- end main content -->
        <%- include partials/footer.ejs%>