main {
    display: grid;
    width: 100%;
}


main .slider {
    margin: 20px;
    position: relative;
}

main .slider .slide {
    display: none;
}

.slider img {
    width: 100%;
    max-height: 787px;
}

.text {
    color: #f2f2f2;
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}

.text button {
    padding: 15px;
    border: none;
    color: #fff;
    font-family: 'Roboto bold';
    background-color: var(--main-bg-color);
}

.text button:hover {
    background-color: var(--seconary-bg-color);
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot-content {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}




/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


.main {
    position: relative;
    margin-top: 50px;
    background: #eee;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 100ms ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
}

.card-content {
    padding: 30px;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}