:root {
  --main-bg-color: #1D428A;
  --seconary-bg-color: #FF6500;
  --shadow: 4px 5px 10px 0px rgb(0 0 0 / 25%);
  font-family: 'Roboto bold';
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
body{
  background-color: #eee;
}