
:root{
  font-family: 'Roboto bold';
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
body{
  background-color:var(--color-quaternary);
}

a{
  text-decoration: none;
  color: var(--color-primary);
}
