footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #1D428A;
}

.contact {
    margin-left: 5%;
}

.contact ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact h3, .contact ul {
    margin: 0;
    padding: 0;
}

.contact ul li {
    list-style: none;
}

.contact ul li a {

    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.contact ul li a>i {
    color: #FF6500;

}

.aditional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 20px;
}

.aditional-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.aditional-card h3 {
    margin: auto;
}

.aditional-card-content {
    width: 250px;
    height: 45px;
    display: flex;
    background-color: #FF6500;
    border-radius: 5%;
}