<% for (var i = 0; i < 10; i++) {%>
  <div class="card">
      <a href="/product"> <img src="img/products/produto-1.png" alt=""></a>
      <div class="card-content">
          <h2>Preço</h2>
          <p>Fique avonatde para usar</p>
      </div>
  </div>
<%}%>  