<footer>
    <section class="contacts">
        <h3>ATENDIMENTO</h3>
        <ul>
            <li>
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                    (00)9 0000-0000
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-at"></i>
                    faleconosco@sac.com.br
                </a>
            </li>
        </ul>
    </section>

    <section class="payments">
        <h3>ACEITAMOS</h3>
        <ul>
            <li>
                <a href="">
                    <i class="fa-brands fa-cc-visa"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-pix"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-cc-mastercard"></i>
                </a>
            </li>
        </ul>
    </section>

    <section class="social-media">
        <h3>social-media</h3>
        <ul>
            <li>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </section>

</footer>

<script src="js/srcipt.js"></script>
</body>

</html>