<!DOCTYPE html>
<html>

<head>
    <title>
        Projeto Integrador
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='css/all.css' />
</head>

<body>

    <!-- Start header -->
    <header>
        <!-- start logo -->
        <div class="logo">
            <a href="/">
                <!-- <img src="" alt=""> -->
                LOGO
            </a>
        </div>
        <!-- end logo -->
        <!-- start menu -->
        <ul id="menu">
            <li><a id="menu-item" href="/">Home</a></li>
            <li>
                <a id="menu-item" href="produtos.html">Todos os Produtos</a>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Hospedagem</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Sistemas</a></li>
                </ul>
            </li>

            <li><a id="menu-item" href="mouses.html">Mouses</a></li>
            <li><a id="menu-item" href="teclados.html">Teclado</a></li>
            <li><a id="menu-item" href="acessorios.html">Acessórios</a></li>
        </ul>
        <!-- end menu -->

        <!-- start search-form -->
        <div class="search-form">
            <form action="" method="get">
                <input type="search" name="search" id="" placeholder="Pesquise aqui ...">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="user-actions">
            <ul>
                <li>
                    <a href="">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end search-form -->
        <div id="menu-bars">
            <button onclick="openMenuDrodown()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>
    <!-- end header -->