<!-- start main content -->
<main>
    <section class="slider">
        <div class="slide fade">
            <img src="img/slides/slide-1.jpeg" alt="">
            <div class="text">
                <h2>Here you find everuthinh!</h2>
                <button>Saiba mais</button>
            </div>
        </div>

        <div class="slide fade">
            <img src="img/slides/slide-1.jpg" alt="">
            <div class="text">
                <h2>Here you find everuthinh!</h2>
                <button>Saiba mais</button>
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="dot-content">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </section>